@import "../../Sass/mixin";
@import "../../Sass/variables";

.navbar-container {
  width: 100%;
  height: auto;
  padding: 1.5rem 0rem;
//   background-color: aqua;
  background-color:  #11141F;
  &-content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    &-left {
      width: 20%;
      display: flex;
      align-items: center;
    //   background-color: lightcoral;
    &>img{
        cursor: pointer;
    }
      & > p {
        cursor: pointer;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        color: #ffffff;
        margin-left: 4px;
      }
      & > span {
        cursor: pointer;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        color: #5ce1e6;
      }
    }
    &-right {
      width: 40%;
      height: auto;
      display: flex;
      margin-right: -2rem;
      justify-content: space-between;
      padding: 0.5rem 0rem;
    //   background-color: darkblue;
      &>p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.4rem;
// line-height: 130%;
color: #FFFFFF;
cursor: pointer;
&:hover{
    text-decoration: underline;
}
      }
    }
  }
}

.container3{
  width: 100%;
  height: auto;
  padding: .5rem 0rem ;
  background-color:  #11141F;
  &-content{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0rem ;
    // background-color: lightcoral;
   &>p{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
   }
  }
}
.nactivity{
  width: 25%;
  height: auto;
  padding: .5rem 0rem ;
  // background-color: red;
  // border-right: 1px solid white;
  &-content{
    width: 100%;
    height: auto;
    // margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0rem;
    // background-color: darkgreen;
    &>p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40.8925px;
line-height: 130%;
color: #FFFFFF;
  }
  &>h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20.4463px;
line-height: 130%;
text-transform: uppercase;
background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
// background-clip: text;
// text-fill-color: transparent;
  }
  }
}


.container4{
  width: 100%;
  height: auto;
  padding: .5rem 0rem ;
 background-color:  #11141F;
  &-content{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    padding :130px 0rem  ;
    // background-color: lightcoral;
    &-left{
      width: 50%;
      height: auto;
      padding: .5rem 0rem ;
      // background-color: darkcyan;
      &>h1{
        font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 4rem;
line-height: 160%;
letter-spacing: 0.01em;
color: #FFFFFF;
      }
      &>p{
        margin-top: 24px;
        font-family: 'poppins';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 170%;
/* or 31px */
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.7);
      }
      &>button{
        width: 170px;
        height: 64px;
        margin-top: 48px;
        // padding:1.5rem;
        cursor: pointer;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1.5rem;
line-height: 150%;
/* identical to box height, or 27px */
text-transform: capitalize;
color: #00040E;
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
border-radius: 10px;
border: none;
      }
    }
    &-right{
      width: 50%;
      height: auto;
      padding: .5rem 0rem ;
      // background-color: lightgreen;
    }
  }
}

.bscard{
  width: 470px;
  height: 115px;
  display: flex;
  // background-color: #DEF9FA;
  cursor: pointer;
  margin-bottom: 2rem;
  &:hover{
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
border-radius: 20px;
  }
  &-content{
    width: 435px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    // background-color: lightgray;
    &-left{
      &>img{
        width: 64px;
        height: 64px;
      }
    }
    &-right{
      margin-left: 20px;
      &>h2{
        font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
/* or 23px */
letter-spacing: 0.01em;
text-transform: capitalize;
color: #FFFFFF;
      }
      &>p{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}